name: Run Mypy Checks

on:
  workflow_dispatch:
  push:
    branches: ["dev"]
    paths:
      - 'src/**/*.py'
      - '.github/workflows/mypy.yml'
      - 'pyproject.toml'

jobs:
  mypy:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync

      - name: Run mypy
        run: uv run mypy src/
